.title {
  margin: 20px;
  h1 {
    text-align: center;
  }
}
.list-form {
  margin-bottom: 20px;
}

.todo-index{
  margin: 20px 0;
  .btn {
    margin: 3px;
  }
  .todo-form {
    margin-top: 10px;
  }
  .btn-delete {
    margin-bottom: 10px;
  }
  .todo-card {
    margin: 10px;
  }

  .list-container {
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightgray;
    .delete-list {
      position: absolute;
      top:0;
      right: 10px;
    }
    .list-title {
      padding: 0 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}